@media screen and (max-width: 6.19in) {
    .width-container {
        width: 95%;
        margin: 0 auto;
    }

    .width-3in {
        width: 100%;
    }

    header h1 {
        font-size: 120%;
        margin: 0.3em 0;
    }

    .button-bar a.button {
        display: inline-block;
        margin: 0;
        padding: 6px 5px;
    }

    img.bio-pic {
        display: block;
        margin: 4px auto 12px;
        width: 75%;
        max-width: 320px;
        object-fit: cover;
        border-radius: 50%;
    }
}
