<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
    * {
        box-sizing: border-box;
    }
    body {
        padding: 2em 20%;
        margin: 0;
    }
    pre {
        padding: 0.5em 1em;
        white-space: pre-wrap;
        background-color: #fbfbfb;
    }
    </style>
</head>
<body>
    <main>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <p>Lorem ipsum sit amet...</p>
<pre>
These npm Open Source terms of use (these Terms) govern access to and use of https://www.npmjs.com (the Website) as well as the "npm Public Registry" at https://registry.npmjs.org (the Public Registry). npm, Inc. (npm) operates each of those services. These terms refer to all of them together as npm Open Source.

npm last updated these npm Open Source Terms on March 10, 2022. You can review prior versions at https://github.com/npm/documentation/blob/main/content/policies/open-source-terms.mdx.
Important Terms

These Terms include a number of important provisions that affect your rights and responsibilities, such as the disclaimers in "Disclaimers", limits on npm's liability to you in "Limits on Liability", and an agreement to arbitrate disputes individually in "Arbitration".
Other Terms

npm offers additional, paid services (Paid Services) that are subject to additional terms:

    Additional terms for npm Paid Services are available at https://docs.npmjs.com/policies/private-terms.

npm Open Source and any Paid Services you may agree to use are together called npm Services throughout these Terms.
Legal Agreement

You may only access or use npm Services by agreeing to these Terms. If npm adds any additional functionality to npm Services, you must agree to these Terms to use that new functionality, too. You show your agreement with npm on these Terms by creating a user account (your Account) or by accessing or using npm Services without creating an account. The agreement between you and npm is a legally binding contract (this Agreement).
Changes

npm may change these Terms and the additional terms for Paid Services in the future. npm will post changes on the Website with a new "last updated" date. If you have an Account, npm will notify you of changes by email to the address provided for your Account, by a message on the Website, or both. If you do not have an account, npm may notify you of changes by a general announcement via the Website, but it is up to you to check for changes to these Terms. After receiving notice of changes to these Terms, you must accept those changes to continue using npm Services. You accept changes to these Terms by continuing to use npm Services. npm may change, suspend, or discontinue npm Services at any time without notice or liability to you.
npm Policies

npm respects your privacy and limits use and sharing of information about you collected by npm Services. The privacy policy at https://docs.npmjs.com/policies/privacy(the Privacy Policy) describes these policies. npm will abide by the Privacy Policy and honor the privacy settings that you choose via npm Services.

npm respects the exclusive rights of copyright holders and responds to notifications about alleged infringement via npm Services per the copyright policy at https://docs.npmjs.com/dmca (the Copyright Policy).

npm resolves disputes about package names, user names, and organization names in the Public Registry per the policy at https://docs.npmjs.com/disputes (Dispute Policy). This includes "package squatting".

Use of all npm Services is governed by the code of conduct at https://docs.npmjs.com/conduct (Code of Conduct).

npm permits use of npm trademarks per the policy at https://docs.npmjs.com/trademark.
Use of npm Open Source

Subject to these Terms, npm grants you permission to use npm Open Source. That permission is not exclusive to you, and you cannot transfer it to anyone else.

Your permission to use npm Open Source entitles you to do the following:

    You may search for, download, publish, and manage packages of computer code (Packages) in the Public Registry, and otherwise interact with the Public Registry, via the command-line tool published by npm at https://www.github.com/npm/cli (the CLI).

    You may search for, download, publish, and manage Packages using software other than CLI via application programming interfaces that npm publicly documents or makes available for public use (Public APIs).

    You may search for and manage Packages in the Public Registry, and otherwise interact with the Public Registry, via the Website.

    You may update and manage your Account via the Website.

    You may visit, create an account for, and participate in, discussions on npm.community.

Conditions

Your permission to use npm Open Source, as well as any permission you may have to use Paid Services, are subject to the following conditions:

    You must be at least 13 years of age to use npm Services.

    You may not use npm Services after npm says you may not, such as by disabling your Account.

    You must use npm Services only in accordance with "Acceptable Use".

    You may access and use data about the security of Packages, such as vulnerability reports, audit status reports, and supplementary security documentation, only for your own personal or internal business purposes. You may not provide others access to, copies of, or use of npm data about the security of Packages, directly or as part of other products or services.

Acceptable Use

    You will abide by the Code of Conduct and the Dispute Policy.

    You will not submit material to npm as a package or in any other form that violates npm's Acceptable Content, described below.

    You will not disclose information that you do not have the right to disclose, such as confidential information of others.

    You will not copy or share any personally identifiable information of any other person without their specific permission.

    You will not violate any applicable law.

    You will not use or attempt to use another person's Account without their specific permission.

    You will not buy, sell, or otherwise trade in user names, organization names, names for Packages, or any other names reserved on npm Services, for money or other compensation.

    You will not use npm Services' ability to send e-mail to send advertisements, chain letters, or other solicitations.

    You will not automate access to, use, or monitor the Website, such as with a web crawler, browser plug-in or add-on, or other computer program that is not a web browser. You may replicate data from the Public Registry using the Public APIs per this Agreement.

    You will not use npm Services to send email to distribution lists, newsgroups, or group mail aliases.

    You will not falsely imply that you are affiliated with or endorsed by npm.

    You will not operate illegal schemes, such as pyramid schemes, via npm Services.

    You will not deep-hyperlink to images or other non-hypertext content served by npm Services.

    You will not remove any marking indicating proprietary ownership from any material got via npm Services.

    You will not display any portion of the Website via an HTML IFRAME.

    You will not disable, avoid, or circumvent any security or access restrictions of npm Services, or access parts of npm Services not intended for access by you.

    You will not strain infrastructure of npm Services with an unreasonable volume of requests, or requests designed to impose an unreasonable load on IT systems underlying npm Services. This rule is intentionally loose, to give npm the flexibility it needs to keep npm Services working for the user community as a whole. But to draw one clear line, under no circumstances are five million requests to npm Services in a single month-long period by any single individual, organization, or group of affiliated companies remotely reasonable. If you have a special need to make lots and lots of requests, our sales team can help.

    You will not encourage or assist any other person in violation of "Acceptable Use".
</pre>
        <p>Last revision: <%= htmlWebpackPlugin.options.revDate %></p>
    </main>
</body>
</html>
