@media screen and (min-width: 6.20in) {
    .width-container {
        width: 6.00in;
        margin: 0 auto;
    }
    .width-3in {
        width: 3in;
    }
    
    body>main {
        padding: 24px 0;
    }

    img.bio-pic {
        float: right;
        margin: 0 0 10px 16px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
    }
}
